html, body {
    min-width: 300px;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
}

.btns-container {
    margin-top: 0.75rem;
    margin-bottom: auto;
    display: flex;
    justify-content: space-evenly;
}

button {
    border: 2px solid rgb(11, 61, 145);
    border-radius: 5px;
    background-color: white;
}

button:hover {
    background-color: rgb(220, 220, 220);
}

button:active {
    background-color: rgb(170, 170, 170);
}

#apod-title {
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

#apod-image, #apod-video, #epic-image {
    max-width: 780px;
    max-height: 480px;
}

#epic-image {
    margin-top: 0.5rem;
    display: block;
}

#mars-image {
    min-width: 300px;
    min-height: 300px;
    max-width: 780px;
    max-height: 440px;
    margin-top: 0.75rem;
}

.hidden {
    display: none;
}

#apod-copyright, #epic-date {
    margin-bottom: 5px;
    position: relative;
    float: right;
}

#mars-small-container {
    display: flex;
    justify-content: space-between;
}

#mars-rover {
    text-transform: capitalize;
}